@model List<Order>
@{
    ViewData["Title"] = "Горящие заказы";
}
<body>
    <table class="table taЬle-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Дата</th>
                <th class="text-center">Заказчик</th>
                <th class="text-center">Заказ</th>
                <th class="text-center">Сумма заказа</th>
                <th class="text-center">Действия</th>
            </tr>
        </thead>
        @foreach (var order in Model)
        {
            <tr>

                @await Html.PartialAsync("TablePartial", order)

                <td class="text-center">

                    <form method="post" asp-action="AcceptOrder" class="form">

                        
                        <input type="hidden" name="OrderId" value="@order.Id" />
                        <button type="submit" class="btn btn-sm btn-primary">
                            Принять заказ
                        </button>

                    </form>
                    
                </td>
            </tr>
        }

    </table>
</body>